.modal-container {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  border-radius: 5px;
  background-color: aliceblue;
  height: 500px;
  width: 600px;
}